@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F2C94C;
}
body{
    text-align: center;
    font-family: 'Merienda', cursive;
}
nav{
    
    background-color: var(--primary-color);
}
#header{
    padding: 2rem;
    font-size: large;
}
.content{
    background-image: url("images/minion2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: 30px;
}
main{
    margin: 0 auto;
    max-width: 300px;
    padding: 2rem 0;
    min-height: 61.3vh;
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 15vh;
    padding: 1rem;
    font-size: large;
    letter-spacing: 2px;
    font-family: inherit;
    color: #000000;
    background: transparent;
    border: 1px solid var(--primary-color);
}
button{
    display: block;
    margin: 2.05rem auto;
    padding: 1rem 2rem;
    font-size: large;
    font-family: inherit;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    box-shadow: 0px 5px 10px var(--primary-color);
}
button:hover{
    color: #ffffff;
}

#output-text{
    border: 1px solid #000000;
    min-height: 16vh;
    /* max-height: 20vh; */
    width: 100%;
    margin: 1.4rem 0;
    overflow: scroll;
    font-family: inherit;
    font-size: large;
    font-family: inherit;
    color: #000000;
}

footer{
    position: sticky;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    background-color: var(--primary-color);
}
footer p{
    max-width: 600px;
    margin: auto;
}
h1{
    text-align: center;
}